* {
  margin: 0;
  padding: 0;
}

.out ul li {
  list-style: none;
}

/* --------------------- */

.out img {
  width: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: -20px;
  box-sizing: border-box;
}

.card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  position: relative;
}

.card img {
  width: 14rem;
  height: 9rem;
}

.topsiba {
  color: white;
  text-align: center;
  padding: 2px 20px;
}

.login p {
  margin-top: 34px;
  color: rgb(230, 230, 230);
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
}

.logo {
  padding: 13px;
}

.logo1 img {
  width: 100%;
}

.logo img {
  width: 61px;
}

.icon {
  float: right;
}

.nav {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(211, 211, 211);
  font-family: "Roboto Condensed", sans-serif;
}

.nav ul {
  position: absolute;
  top: 0;
  left: 35%;
}

.nav ul li {
  float: left;
  list-style: none;
  margin-left: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

.icon ul li {
  float: left;
  list-style: none;
  margin-right: 20px;
}

.giohang {
  font-weight: 600;
  margin-left: 120px;
  font-family: "Roboto Condensed", sans-serif;
}

.giohang ul li {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.chuyen {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 20px;
}

.chuyen span {
  color: rgb(150, 148, 148);
}

.thutu {
  float: right;
}

.thutu ul li {
  float: left;
  list-style: none;
  margin-left: 10px;
}

.thutu ul li select {
  width: 200px;
  height: 40px;
}

.serch {
  position: relative;
}

.serch input {
  padding: 5px 20px;
  width: 270px;
}

.serch button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7px 20px;
  background-color: black;
  color: white;
  border: none;
}

.list-group {
  width: 270px;
}

.list-group .active {
  background-color: black;
}

.sanpham {
  float: left;
  margin-left: 40px;
  margin-top: 40px;
  width: 235px;
  height: 320px;
  position: relative;
}

.sanpham img {
  width: 100%;
}

.text {
  padding: 4px;
  font-family: "Roboto Condensed", sans-serif;
}

.spnoibat {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
  position: relative;
}

.aria-label {
  width: 300px;
}

.owl-prev {
  position: absolute;
  top: 75px;
  left: 10px;
  opacity: 0.4;
}

.owl-next {
  position: absolute;
  top: 75px;
  right: 20px;
  opacity: 0.4;
}

.spnoibat p {
  width: 30px;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.fo ul li {
  margin-top: 15px;
  list-style: none;
  font-size: 13px;
}

.fo img {
  width: 100px;
}

.fo ul li i {
  margin-left: 14px;
  border: solid 1px gray;
  padding: 10px;
  border-radius: 100%;
}

.fo ul li p {
  color: rgb(163, 163, 163);
}

.fo ul li input {
  padding: 13px 10px;
  width: 250px;
  border: none;
  border-radius: 20px;
}

.fo ul li a {
  position: absolute;
  top: 83px;
  right: 40px;
  color: black;
}

.now2 {
  width: 100%;
  height: 340px;
  background-color: rgb(243, 243, 243);
  position: relative;
}

/* ----------------------------- */

.ngay img {
  max-width: 16%;
  height: 11%;
  position: absolute;
  top: 10px;
  left: -10px;
}

.card-body {
  padding: 0px;
  margin: 0px;
}

.card-text {
  font-weight: 600;
}

.gach {
  width: 50px;
  height: 3px;
  background-color: rgb(170, 170, 170);
  margin-top: 4px;
}

.nho {
  color: gray;
  font-size: 15px;
}

.out {
  border: 1px solid rgb(214, 212, 212);
  padding: 10px;
  width: 320px;
  border-radius: 4px;
}

.serch input {
  padding: 5px 20px;
  width: 320px;
}

.out img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

table tr td {
  padding: 2px 10px;
}
